.version.experience /* version checker */
{
	color: #000019;
	background-color: #ABFF88;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1060px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#u234
{
	z-index: 7;
	height: 50px;
	top: 0px;
}

#u234-bw
{
	z-index: 7;
}

#u266
{
	z-index: 27;
	width: 50px;
	height: 50px;
	margin-right: -10000px;
}

#menuu235
{
	z-index: 8;
	width: 356px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 75px;
}

#u236
{
	width: 107px;
	min-height: 30px;
	margin-right: -10000px;
}

#u237
{
	width: 107px;
	padding-bottom: 13px;
}

#u237:hover
{
	margin: 0px;
}

#u240-4
{
	width: 62px;
	min-height: 17px;
	margin-right: -10000px;
	top: 6px;
	left: 22px;
}

#u237:hover #u240-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u250
{
	width: 114px;
	min-height: 30px;
	margin-right: -10000px;
	left: 109px;
}

#u251
{
	width: 114px;
	padding-bottom: 13px;
}

#u253-4
{
	width: 70px;
	min-height: 17px;
	margin-right: -10000px;
	top: 6px;
	left: 22px;
}

#u237.MuseMenuActive #u240-4,#u251:hover #u253-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u257
{
	width: 131px;
	min-height: 30px;
	margin-right: -10000px;
	left: 225px;
}

#u258
{
	width: 131px;
	padding-bottom: 13px;
}

#u237.MuseMenuActive,#u251.MuseMenuActive,#u258.MuseMenuActive
{
	margin: 0px;
}

#u260-4
{
	width: 87px;
	min-height: 17px;
	margin-right: -10000px;
	top: 6px;
	left: 22px;
}

#u251.MuseMenuActive #u253-4,#u258:hover #u260-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u258.MuseMenuActive #u260-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u305
{
	z-index: 28;
	width: 50px;
	margin-right: -10000px;
	left: 860px;
}

#u323
{
	z-index: 30;
	width: 50px;
	margin-right: -10000px;
	left: 925px;
}

#u265
{
	z-index: 2;
	padding-bottom: 20px;
}

#u265_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1060px;
	left: -100px;
}

#u267-4
{
	z-index: 3;
	width: 250px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 505px;
}

#u265-bw
{
	z-index: 2;
	margin-top: 480px;
	height: 30px;
}

body
{
	position: relative;
	min-width: 1060px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -480px;
}

