#u234
{
	border-style: none;
	border-color: transparent;
	background-color: #282828;
	position: fixed;
}

#u266
{
	border-style: none;
	border-color: transparent;
	background-color: #FF00FF;
	position: relative;
}

#u236,#u237
{
	background-color: transparent;
	position: relative;
}

#u240-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #C8C8C8;
	font-size: 14px;
	text-align: center;
	font-family: source-code-pro, sans-serif;
	font-weight: 500;
	position: relative;
}

#u237:hover #u240-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u250,#u251
{
	background-color: transparent;
	position: relative;
}

#u253-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #C8C8C8;
	font-family: source-code-pro, sans-serif;
	font-weight: 500;
	position: relative;
}

#u251:hover #u253-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u257,#u258
{
	background-color: transparent;
	position: relative;
}

#u260-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #C8C8C8;
	font-family: source-code-pro, sans-serif;
	font-weight: 500;
	position: relative;
}

#u258:hover #u260-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u237.MuseMenuActive #u240-4 p,#u251.MuseMenuActive #u253-4 p,#u258.MuseMenuActive #u260-4 p
{
	color: #C8C8C8;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#menuu235,#u305,#u323
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u265
{
	border-style: none;
	border-color: transparent;
	background-color: #282828;
}

#u265_align_to_page
{
	position: relative;
}

#u267-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #C8C8C8;
	font-size: 12px;
	line-height: 14px;
	font-family: source-code-pro, sans-serif;
	font-weight: 500;
	position: relative;
}

