.version.projects /* version checker */
{
	color: #000018;
	background-color: #821F7E;
}

.html
{
	background: #FFFFFF url("../images/bg.jpg") repeat left top scroll;
}

#page
{
	z-index: 1;
	width: 1060px;
	min-height: 481px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 19px;
	margin-left: auto;
	margin-right: auto;
}

#u134
{
	z-index: 2;
	width: 1020px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 20px;
}

#menuu149
{
	z-index: 3;
	width: 759px;
	margin-right: -10000px;
	margin-top: 46px;
	left: 260px;
}

#u157
{
	width: 161px;
	min-height: 34px;
	margin-right: -10000px;
}

#u158
{
	width: 160px;
	padding-bottom: 5px;
}

#u158.MuseMenuActive
{
	width: 160px;
	min-height: 0px;
	margin: 0px;
}

#u159
{
	height: 29px;
	width: 80px;
	margin-right: -10000px;
	top: 2px;
	left: 40px;
}

#u204
{
	width: 162px;
	min-height: 34px;
	margin-right: -10000px;
	left: 163px;
}

#u205
{
	width: 161px;
	padding-bottom: 5px;
}

#u205.MuseMenuActive
{
	width: 161px;
	min-height: 0px;
	margin: 0px;
}

#u207
{
	height: 29px;
	width: 81px;
	margin-right: -10000px;
	top: 2px;
	left: 40px;
}

#u211
{
	width: 251px;
	min-height: 34px;
	margin-right: -10000px;
	left: 327px;
}

#u214
{
	width: 250px;
	padding-bottom: 5px;
}

#u214.MuseMenuActive
{
	width: 250px;
	min-height: 0px;
	margin: 0px;
}

#u216
{
	height: 29px;
	width: 170px;
	margin-right: -10000px;
	top: 2px;
	left: 40px;
}

#u218
{
	width: 179px;
	min-height: 34px;
	margin-right: -10000px;
	left: 580px;
}

#u219
{
	width: 179px;
	padding-bottom: 5px;
}

#u219.MuseMenuActive
{
	margin: 0px;
}

#u222
{
	height: 29px;
	width: 100px;
	margin-right: -10000px;
	top: 2px;
	left: 39px;
}

#u232
{
	z-index: 32;
	width: 1019px;
	height: 41px;
	margin-right: -10000px;
	margin-top: 438px;
	left: 20px;
}

body
{
	position: relative;
	min-width: 1060px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -438px;
}

